$enable-gradients: true;
$enable-shadows: true;
@import '~bootstrap/scss/bootstrap'; // @import 'variables';
$alt-color: $cyan;
$body-color: #073898;
$body-color-tint: scale-color($body-color, $lightness: -4%);
$scoreboard-bg: #0a0a96;
$body-bg-color: #3d93f3;
$body-bg-color-tint: scale-color($body-bg-color, $lightness: -4%);
$font-color: $light;

body {
  background: $body-color;
}

.box {
  align-items: center;
  // background-color: $white;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.button-area {
  align-items: center ;
  display: flex;
  // justify-content: center;
  justify-content: center;

  & .game-play {
    justify-content: space-around;
  }
}

.form-container {
  background: linear-gradient(90deg, rgba(3,0,57,1) 14%, rgba(9,9,121,1) 56%, rgba(0,171,205,1) 90%);
  color: $white;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 0;
}

footer {
  align-items: flex-end;
  background: linear-gradient(90deg, rgba(3,0,57,1) 14%, rgba(9,9,121,1) 56%, rgba(0,171,205,1) 90%);
  color: $white;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  position: fixed;
   height: 50px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin-bottom: 0px;

  & div {
    justify-content: space-around;
  }
}

header {
  background: linear-gradient(90deg, rgba(3,0,57,1) 14%, rgba(9,9,121,1) 56%, rgba(0,171,205,1) 90%);
  color: $white;
}

h2 {
  color: $white;
}

// .rotate-me {
//   transform: rotate3d(1, 1, 1, 45deg);
// }

.scoreboard {
  background: $scoreboard-bg;
  color: $white;
  font-weight: bold;
  margin: 20px auto;
}

.sign-up {
  align-items: center;
}

.sign-in {
  align-items: center;
}

.winning-combo {
  animation-duration: .25s;
  animation-iteration-count: 10;
  animation-name: flash;
}


@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// @media (min-width: 768px) {}
