$enable-gradients: true;
$enable-shadows: true;
@import '~bootstrap/scss/bootstrap'; // @import 'variables';
$alt-color: $cyan;
$body-color: #b7b7b9;
$body-color-tint: scale-color($body-color, $lightness: -4%);
$body-bg-color: #3d93f3;
$body-bg-color-tint: scale-color($body-bg-color, $lightness: -4%);
$font-color: $light;

body {
  background: #073898;
}

// .gameboard {
//   background: #073898;
// }

.scoreboard {
  background: #0a0a96;
  color: white;
  font-weight: bold;
  margin: 20px auto;


}

.winning-combo {
  animation-duration: .25s;
  animation-iteration-count: 10;
  animation-name: flash;
}

.box {
  align-items: center;
  // background-color: $white;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}


.form-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(3,0,57,1) 14%, rgba(9,9,121,1) 56%, rgba(0,171,205,1) 90%);
  color: $white;
  margin-top: 0;
}

footer {
  align-items: flex-end;
  background: linear-gradient(90deg, rgba(3,0,57,1) 14%, rgba(9,9,121,1) 56%, rgba(0,171,205,1) 90%);
  bottom: 0px;
  color: $white;
  display: flex;
  font-size: 24px;
  height: 50px;
  justify-content: space-between;
  left: 0px;
  margin-bottom: 0px;
  position: fixed;
  right: 0px;
  & div {
    justify-content: space-around;
  }
}

.button-area {
  align-items: center ;
  display: flex;
  // justify-content: center;
  justify-content: center;
  & .game-play{
    justify-content: space-around;
  }
}

// .rotate-me {
//   transform: rotate3d(1, 1, 1, 45deg);
// }

.sign-up {
  align-items: center;
}

.sign-in {
  align-items: center;
}

header {
  background: linear-gradient(90deg, rgba(3,0,57,1) 14%, rgba(9,9,121,1) 56%, rgba(0,171,205,1) 90%);
  color: white;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
